.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-FOfQi4onYAZz);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-zWwklUAwoXgX);
  font-family: var(--token-RzFb2RTelu7P);
  font-size: var(--token-Hk6nJZd9gxRo);
  line-height: var(--token-FdOrz7C4PRbV);
  outline-style: none;
  text-decoration-line: none;
  justify-content: center;
  align-items: center;
  max-width: 143em;
  width: 100%;
  border-radius: var(--token--INkR5DKfyTJ);
  padding: 0.5rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-t8w3uBh2C--G);
  outline-offset: 1px;
  outline-color: var(--token-FOfQi4onYAZz);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-PuEdtp1LpHmr);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-Aa0p7eIb0kVW);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-B60FApD72RRF);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-eCXrMgO-tU1w);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-cS0LDHPyANB-);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-nSps4cpA2H0L);
  font-size: var(--token-3ump5wZ0hiSE);
  column-gap: var(--token-t8w3uBh2C--G);
  row-gap: 0px;
  border-radius: var(--token-oy8li0xmMWEe);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-3ump5wZ0hiSE);
  line-height: var(--token-nSps4cpA2H0L);
  column-gap: var(--token-oy8li0xmMWEe);
  row-gap: 0px;
  border-radius: var(--token-oy8li0xmMWEe);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-r5XQ9Z020rn4);
  line-height: var(--token-q9mIr9Oet33Z);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-r5XQ9Z020rn4);
  line-height: var(--token-q9mIr9Oet33Z);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-Xh2Y3Tybwzx6);
  border-radius: var(--token--INkR5DKfyTJ);
}
.softBackgroundcolor_neutral {
  background: var(--token-i4banfEDHtBK);
}
.softBackgroundcolor_muted {
  background: var(--token-G7xUNF0ShWLz);
}
.softBackgroundcolor_success {
  background: var(--token-AOz3OI307305);
}
.softBackgroundcolor_warning {
  background: var(--token-49dvNH57f0WD);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-mpm_vxbsU1Cm);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token--INkR5DKfyTJ);
  border: 0px solid var(--token-84iP7Wlvhkdj);
}
.bordercolor_neutral {
  border-color: var(--token-ECqgxtY3exlC);
}
.bordercolor_muted {
  border-color: var(--token-TXKeiM4KbPdc);
}
.bordercolor_success {
  border-color: var(--token-sFm8s7AFU7Dk);
}
.bordercolor_warning {
  border-color: var(--token-WCC26ucWtZrk);
}
.bordercolor_errorDestructive {
  border-color: var(--token-4XO96Ppl8wFg);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token--INkR5DKfyTJ);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-e27dwHjA5xKk);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-JJ1XPB_F35qU);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-GpHOLe4K4ZmL);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__sdWjG {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token--INkR5DKfyTJ) var(--token-gNeGmXmr2qE9);
}
.freeBox__sdWjG > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token--INkR5DKfyTJ));
  width: calc(100% + var(--token--INkR5DKfyTJ));
}
.freeBox__sdWjG > :global(.__wab_flex-container) > *,
.freeBox__sdWjG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sdWjG > :global(.__wab_flex-container) > picture > img,
.freeBox__sdWjG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token--INkR5DKfyTJ);
}
.freeBoxsize_extraSmall__sdWjGeNooK {
  padding: var(--token-oy8li0xmMWEe) var(--token--INkR5DKfyTJ);
}
.freeBoxsize_small__sdWjG9G0Ux {
  padding: var(--token--INkR5DKfyTJ) var(--token-zWwklUAwoXgX);
}
.freeBoxsize_large__sdWjGdG1Qa {
  padding-top: var(--token-oy8li0xmMWEe);
  padding-bottom: var(--token-oy8li0xmMWEe);
}
.freeBoxsize_extraLarge__sdWjGpFLf {
  padding-left: var(--token-DuRktsebUw7l);
  padding-right: var(--token-DuRktsebUw7l);
}
.freeBoxroundedFull__sdWjGFadXz {
  padding-right: var(--token-DuRktsebUw7l);
  padding-left: var(--token-DuRktsebUw7l);
}
.freeBox___0K5Q {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___0K5QOEglK {
  display: flex;
}
.slotTargetStart {
  color: var(--token-mOdQ-HFx6sJ0);
}
.slotTargetStartcolor_neutral {
  color: var(--token-t1DPFeohT1uU);
}
.slotTargetStartcolor_muted {
  color: var(--token-szKqqDySxHXz);
}
.slotTargetStartcolor_success {
  color: var(--token-y8VyoGoz87Ew);
}
.slotTargetStartcolor_warning {
  color: var(--token-Oc4RLDjJT3Vp);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-GcROxxX33boO);
}
.slotTargetStarttype_soft {
  color: var(--token-wOFUjHswQlpo);
}
.slotTargetStarttype_bordered {
  color: var(--token-wOFUjHswQlpo);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-3ump5wZ0hiSE);
}
.slotTargetStartsize_small {
  font-size: var(--token-3ump5wZ0hiSE);
}
.slotTargetStartsize_large {
  font-size: var(--token-r5XQ9Z020rn4);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-r5XQ9Z020rn4);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-gZlxVdzkphld);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-gZlxVdzkphld);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-6izRHgooZkmB);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-6izRHgooZkmB);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-vPqDMC9vP2EF);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-vPqDMC9vP2EF);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-RyW5vVYuVkOR);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-RyW5vVYuVkOR);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-EcxLx3Dv_9oN);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-EcxLx3Dv_9oN);
}
.svg__vlPy1 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-mOdQ-HFx6sJ0);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-t1DPFeohT1uU);
}
.slotTargetLabelcolor_muted {
  color: var(--token-szKqqDySxHXz);
}
.slotTargetLabelcolor_success {
  color: var(--token-y8VyoGoz87Ew);
}
.slotTargetLabelcolor_warning {
  color: var(--token-Oc4RLDjJT3Vp);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-GcROxxX33boO);
}
.slotTargetLabeltype_soft {
  color: var(--token-wOFUjHswQlpo);
}
.slotTargetLabeltype_bordered {
  color: var(--token-wOFUjHswQlpo);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-gZlxVdzkphld);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-6izRHgooZkmB);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-gZlxVdzkphld);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-vPqDMC9vP2EF);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-6izRHgooZkmB);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-RyW5vVYuVkOR);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-vPqDMC9vP2EF);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-EcxLx3Dv_9oN);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-RyW5vVYuVkOR);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-EcxLx3Dv_9oN);
}
.text__aVbFj {
  white-space: pre;
}
.freeBox__mkVhe {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__mkVheKe7Uf {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-mOdQ-HFx6sJ0);
}
.slotTargetEndcolor_neutral {
  color: var(--token-t1DPFeohT1uU);
}
.slotTargetEndcolor_muted {
  color: var(--token-szKqqDySxHXz);
}
.slotTargetEndcolor_success {
  color: var(--token-y8VyoGoz87Ew);
}
.slotTargetEndcolor_warning {
  color: var(--token-Oc4RLDjJT3Vp);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-GcROxxX33boO);
}
.slotTargetEndtype_soft {
  color: var(--token-wOFUjHswQlpo);
}
.slotTargetEndtype_bordered {
  color: var(--token-wOFUjHswQlpo);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-3ump5wZ0hiSE);
}
.slotTargetEndsize_small {
  font-size: var(--token-3ump5wZ0hiSE);
}
.slotTargetEndsize_large {
  font-size: var(--token-r5XQ9Z020rn4);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-r5XQ9Z020rn4);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-gZlxVdzkphld);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-gZlxVdzkphld);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-6izRHgooZkmB);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-6izRHgooZkmB);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-vPqDMC9vP2EF);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-vPqDMC9vP2EF);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-RyW5vVYuVkOR);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-RyW5vVYuVkOR);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-EcxLx3Dv_9oN);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-EcxLx3Dv_9oN);
}
.svg__mdIa {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
